.about {
  margin-top: 50px;
  width: 100%;
  // font-family: 'Roboto', sans-serif;
  // text-shadow: -4px -4px #dad7d7;
}

.about-title {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #2d3436;
  // text-shadow: -2px -2px #7a3939;
}

.about-text {
  margin-top: 45px;

  p {
    font-size: 18px;
    margin-bottom: 25px;
  }
}