@import './text.scss';

.about {
  margin-top: 50px;
  padding: 0 20px;
  width: 100%;

  .about-more {
    font-style: italic;
    cursor: pointer;
  }
}

.about-title {
  @include text-title-dark;
}

.about-text {
  margin-top: 45px;

  p {
    font-size: 18px;
    margin-bottom: 25px;
  }
}
