.about {
  margin-top: 50px;
  width: 100%;
  // padding: 20px 0;
}

.about-title {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #2d3436;
}

.about-text {
  margin-top: 45px;

  p {
    font-size: 18px;
    margin-bottom: 25px;
  }
}