$dark-background: #2f3640;
$dark-text-light-silver: #ccc;
$dark-text-medium-silver: #b2bec3;
// $dark-text-contacts-linked: #2d3436;
$black-gray: #2d3436;
$dark-text-contacts-color: white;

$border-item-dark: 2px solid #d35400;
$border-item-white: 2px solid $black-gray;
