@import url("./switchLanguages.css");

:root {
  --MainFont: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

header {
  width: 100%;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
}

.header__content {
  padding-left: 10px;
  height: 50px;
  background-color: #d63031;
}

.header__content ul {
  height: 50px;
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;

  position: relative;
}

.header__content ul li {
  color: white;
  font-size: 20px;
  margin-right: 30px;

  cursor: pointer;
}

.header__content ul li:last-child {
  margin-left: auto;
  margin-right: 10px;

  font-size: 28px;
}

.header__content ul li:nth-child(4) {
  position: absolute;
  width: 60px;
  height: 28px;
  top: 10px;
  right: 30px;
}

.toggler {
  display: none;
}

.hamburger {
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  display: none;
}

@media (max-width: 599px) {

  .header__content ul li:nth-child(1) {
    display: none;
  }

  .header__content ul li:nth-child(2) {
    display: none;
  }

  .header__content ul li:nth-child(3) {
    display: none;
  }

  .header__content ul li:nth-child(4) {
    position: absolute;
    width: 60px;
    height: 28px;
    top: 10px;
    left: 10px;
  }

  .header__content ul li:nth-child(5) {
    position: absolute;
    top: 10px;
    left: 90px;
  }

  // Hamburger

  .hamburger {
    display: flex;
    z-index: 10;
  }

  .hamburger>div {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.4s ease;
  }

  .hamburger>div::after,
  .hamburger>div::before {
    position: absolute;
    content: '';
    top: 10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all 0.4s ease;
  }

  .hamburger>div::before {
    top: -10px;
  }

  // transform hamburger

  .hamburger:hover {
    cursor: pointer;
  }

  .hamburger:hover.hamburger>div::before {
    background-color: #0984e3;
  }

  .hamburger:hover.hamburger>div {
    background-color: #d63031;
  }

  .hamburger:hover.hamburger>div::after {
    background-color: #00b894;
  }

  .modalview.animate .hamburger>div::before {
    background-color: #0984e3;
  }

  .modalview.animate .hamburger>div {
    background-color: #d63031;
  }

  .modalview.animate .hamburger>div::after {
    background-color: #00b894;
  }
}


// switch language