header {
  width: 100%;
  height: 50px;
  font-family: 'Montserrat', sans-serif;
}

.header__content {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  background-color: #2d3436;
  padding-right: 10px;
}

ul {
  display: flex;
  align-items: center;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li {
  color: #ccc;
  font-size: 20px;
  margin-left: 30px;

  cursor: pointer;
}

// ul li a{
//   text-decoration: none;
//   margin-left: 30px;
//   color: #ccc;
//   font-size: 20px;
// }

.switch {
  position: relative;
  width: 45px;
  height: 24px;
  border: 1px solid #ccc;
  border-radius: 10em;
  padding: 0;
  margin-left: 20px;
  cursor: pointer;
}

.switch:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  width: 22px;
  height: 22px;
  background-color: #ccc;
  border-radius: 20px;
  transition: .5s ease;
}

.dark-mode__active,
.dark-mode{
  font-size: 30px;
  margin-left: 30px;
  cursor: pointer;
  
}

.dark-mode__active {
  color: #0984e3;
}

.toggler {
  display: none;
}

.hamburger{
  position: absolute;
  top: 5px;
  right: 5px;
  height: 40px;
  width: 40px;
  padding: 5px;

  display: flex;
  align-items: center;
  justify-content: center;

  display: none;
}

@media (max-width: 768px) {
  .header__content {
    position: relative;
    max-width: 400px;
  }

  .header__menu {
    width: 400px;
  }

  .toggler{
    display: block;
    height: 50px;
    width: 50px;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    opacity: 0;
    z-index:2;
  }

  .menu {
    box-sizing: border-box;
    position: absolute;
    background-color: #2d3436;

    // hidden menu
    width: 0%;
    height: 250px;
    top: 50px;
    left: 0;
    transition: all 0.4s ease;

    z-index: 1;
  }

  .menu > ul {
    margin-top: 10px;
    flex-direction: column;
    align-items: flex-start;

    // visibility: hidden;
    opacity: 0;
  }

  .menu > ul > li {
    margin-bottom: 20px;
    margin-left: 20px;

    font-size: 40px;
    color: white;

    cursor: pointer;
  }
  
  .menu > ul > li > a {
    margin: 0;
    font-size: 40px;
    color: white;
  }

  .dark-mode__active,
  .dark-mode {
    margin-left: 20px;
    color: white;
  }

  // Hamburger

  .hamburger {
    display: flex;
  }

  .hamburger > div {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all  0.4s ease;
  }
  
  .hamburger > div::after, 
  .hamburger > div::before {
    position: absolute;
    content: '';
    top: 10px;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: white;
    transition: all  0.4s ease;
  }

  .hamburger > div::before {
    top: -10px;
  }

  // transform hamburger

  .toggler:checked + .hamburger > div {
    background-color: rgba(0, 0, 0, 0);
  }
  
  .toggler:checked + .hamburger > div::after {
    top: 0;
    transform: rotate(45deg);
  }
  
  .toggler:checked + .hamburger > div::before {
    top: 0;
    transform: rotate(135deg);
  }

  .toggler:checked ~ .menu {
    width: 100%;
  }
  
  .toggler:checked ~ .menu > ul {
    transition: opacity 2s;
    opacity: 1;
  }
}