.dark {

  body {
    background-color: black;
  }

  .body-fon {
    background-color: black;
  }

  .body-inner {
    background-color: black;
  }

  .abut-me {
    color: #ccc;
  }

  .about-text p {
    color: #b2bec3;
  }

  .skills-test__item-text {
    color: #b2bec3;
  }

  .item-description__title,
  .item-description__description {
    color: #b2bec3;
  }

  .about-me__contacts .contacts .contacts-linked {
    color: #2d3436;
    background-color: white;
  }

  .body .abut-me .contacts-item {
    color: white;
  }
}