.dark {

  // body

  .body-fon {
    background-color: #2f3640;
  }

  .body-inner {
    background-color: #2f3640;
  }

  .wrapper {
    background-color: #2f3640;
  }


  // about

  .about-title,
  .skills-title {
    color: #ccc;
  }

  .about-text p {
    color: #b2bec3;
  }


  // skills
  .skills-content__item {
    color: #b2bec3;
  }

  .skills-content__item-icon.custom {
    color: #ccc;
  }

  // portfolio

  .portfolio-title,
  .item-description__title,
  .item-description__description {
    color: #b2bec3;
  }

  .about-me__contacts .contacts .contacts-linked {
    color: #2d3436;
    background-color: white;
  }

  .body .abut-me .contacts-item {
    color: white;
  }
}