@import './colors.scss';
@import './text.scss';

.dark {
  // body

  .abut-me__hello {
    color: $dark-text-light-silver;
  }

  .body-fon {
    background-color: $dark-background;
  }

  .body-inner {
    background-color: $dark-background;
  }

  .wrapper {
    background-color: $dark-background;
  }

  // about

  .about-title,
  .skills-title,
  .portfolio-title {
    color: $dark-text-light-silver;
  }

  .about-text p,
  .about-text span {
    color: $dark-text-medium-silver;
  }

  // skills
  .skills-content__item {
    color: $dark-text-medium-silver;
  }

  .skills-content__item-icon.custom {
    color: $dark-text-light-silver;
  }

  .skills-describe {
    margin-top: 30px;
    margin-bottom: -20px;
    font-variant: small-caps;
    font-weight: 600;
    font-size: 20px;
    color: $dark-text-light-silver;
  }

  // portfolio

  .portfolio {
    .portfolio-item {
      color: $dark-text-medium-silver;
      border: $border-item-dark;
    }

    .portfolio-description {
      color: $dark-text-medium-silver;
    }
  }

  .about-me__contacts .contacts .contacts-linked {
    color: $black-gray;
    background-color: $dark-text-contacts-color;
  }

  .body .abut-me .contacts-item {
    color: $dark-text-contacts-color;
  }
}
