@import './colors.scss';
@import './text.scss';

.portfolio {
  width: 100%;
  padding: 50px 20px;

  .portfolio-title {
    @include text-title-dark;
  }

  .portfolio-frontend {
    .portfolio-container {
      display: flex;
      justify-content: space-between;
      flex-wrap: wrap;
    }
  }

  .portfolio-item {
    margin-top: 20px;
    padding: 10px;
    width: 250px;
    height: 230px;
    border: $border-item-white;
    border-radius: 10px;

    color: $black-gray;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    .title {
      font-size: 20px;
      font-weight: 600;
    }

    .stack {
      .stack-description {
        margin-bottom: 5px;
        font-variant: small-caps;
        font-weight: 600;
      }
      svg {
        margin-right: 10px;
      }
    }

    .links {
      transition: all 0.3s;

      .links-description {
        margin-bottom: 5px;
        font-size: 15px;
        font-variant: small-caps;
        font-weight: 600;
      }

      .link-github {
        margin-right: 5px;
        cursor: pointer;

        &:hover {
          transform: scale(1.04);
        }
      }
      .link-app {
        cursor: pointer;
        &:hover {
          transform: scale(1.04);
        }
      }

      .links-items {
        display: flex;
        flex-direction: column;
      }
    }
  }

  .portfolio-description {
    color: $black-gray;
    font-variant: small-caps;
    font-weight: 600;
    font-size: 18px;
    padding-top: 20px;
  }

  @media (max-width: 799px) {
    .portfolio-item {
      width: 300px;
    }
  }

  @media (max-width: 660px) {
    .portfolio-item {
      width: 250px;
    }
  }

  // mobile
  @media (max-width: 599px) {
    .portfolio-description {
      text-align: center;
    }

    .portfolio-frontend {
      .portfolio-container {
        justify-content: center;
      }
    }
    .portfolio-backend {
      .portfolio-container {
        display: flex;
        justify-content: center;
      }
    }
  }
}

@media (max-width: 749px) {
}
