@import './text.scss';
@import './colors.scss';

.skills {
  width: 100%;
  padding: 20px 0;
  margin-top: 50px;
}

a {
  text-decoration: none;
  color: #0984e3;
}

a:visited {
  color: #0984e3;
}

.skills {
  padding: 0 20px;
}

.skills-content__item-icon.custom {
  font-size: 3em;
}

.skills-title {
  @include text-title-dark;
}

.skills-describe {
  margin-top: 30px;
  margin-bottom: -20px;
  font-variant: small-caps;
  font-weight: 600;
  font-size: 20px;
  color: $black-gray;
}

.skills-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

@media (max-width: 799px) {
  .skills-content {
    grid-template-columns: 1fr;
  }
}

.skills-content__item {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.skills-content__item-description {
  margin: 0 20px;
}
