.skills {
  width: 100%;
  padding: 20px 0;
}

a {
  text-decoration: none;
  color: #0984e3;
}

a:visited {
  color: #0984e3;
}

.skills-title {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #2d3436;
  
}

.skills-text {
  margin-top: 45px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.skills-test__item {
  margin-top: 50px;
  display: flex;
  align-items: center;
}

.skills-test__item-text {
  // font-size: 18px;
  margin: 0 20px;
}