body {
  position: relative;
  font-family: 'Montserrat', sans-serif;
}

/* header */

header {
  height: 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  background-color: #2d3436;
}

.logo {
  font-size: 18px;
  color: #ccc;
  font-weight: 700;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.head_inner {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

ul li a{
  text-decoration: none;
  margin-left: 20px;
  color: #ccc;
  font-size: 14px;
}